<!-- Stat main -->
<main data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  <!-- Start blog_slider -->
  <section class="section__stories blog_slider padding-t-12">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="swip__stories">
            <!-- Swiper -->
            <div class="swiper-container blog-slider">
              <div class="title_sections_inner">
                <h2>Featured Stories</h2>
              </div>
              <div class="swiper-wrapper">
              {{#each links}}
                <div class="swiper-slide">
                  <div class="grid_blog_avatar">
                    <div class="cover_blog">
                      <img src="../../assets/img/charity/002.jpg" alt="">
                    </div>
                    <div class="body_blog">
                      <a>
                        <div class="person media">
                          <img src="../../assets/img/persons/01.png" alt="">
                          <div class="media-body">
                            <div class="txt">
                              <h3>{{ url }}</h3>
                              <time>{{timeago created_at }}</time>
                            </div>
                          </div>
                        </div>
                      </a>
                      <a href="{{ url }}" class="link_blog" target="_blank">
                        <h4 class="title_blog">
                          {{ title }}
                        </h4>
                        <p class="short_desc">
                          {{ description }}
                        </p>
                        <div class="grid_blog_avatar_button_action">
                          <a href="/links/delete/{{ id }}" class="btn btn-danger grid_blog_avatar_button_action_button" style="">Delete Link</a>
                          <a href="/links/edit/{{ id }}" class="btn btn-primary grid_blog_avatar_button_action_button" style="">Edit Link</a>
                        </div>
                      </a>
                    </div>
                  </div>
                  <!-- End grid_blog_avatar -->
                </div>
              {{else}}
                <!-- Start Simple Contact -->
                <section class="simplecontact_section connect_us margin-t-12 padding-py-7">
                  <div class="container">
                    <div class="row justify-content-md-center">
                      <div class="col-md-10 col-lg-5 text-center">
                        <div class="title_sections">
                          <h2>Ready when you are</h2>
                          <p>
                            Let’s explore how we can apply blockchain technology to
                            fit your business needs.
                          </p>
                          <a href="/links/add" class="btn rounded-8 c-white btn_md_primary ripple scale bg-orange-red">
                            Agregar
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="circle-ripple">
                      <div class="ripple ripple-1"></div>
                      <div class="ripple ripple-2"></div>
                      <div class="ripple ripple-3"></div>
                    </div>
                  </div>
                </section>
                <!-- End Simple Contact -->
              {{/each}}
              </div>
              <!-- Add Arrows -->
              <div class="swiper-button-next">
                <i class="tio chevron_right"></i>
              </div>
              <div class="swiper-button-prev">
                <i class="tio chevron_left"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End. blog_slider -->
</main>