<main data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  <!-- Start blog_slider -->
  <section class="section__stories blog_slider padding-t-12">
    <div class="container">
      <div class="d-flex bd-highlight">
        <div class="p-2 flex-grow-1 bd-highlight">
          <h2>Mis versos</h2>
        </div>
        <div class="p-2 bd-highlight">
          <a href="/verses/add" class="btn btn-primary bg-purple-khuyay text-white">Agregar verso</a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="swip__stories">
            <!-- Swiper -->
            <div class="swiper-container blog-slider">
              <div class="title_sections_inner">
              </div>
              {{> message}}
              <div class="container">
                <div class="row">
                  {{#each verses}}
                  <div class="col-lg-4 mb-5">
                    <div class="swiper-slide">
                      <div class="grid_blog_avatar">
                        <div class="cover_blog">
                          <img src="/image/upload/{{ image }}" alt="" width="">
                        </div>
                        <div class="body_blog">
                          <a></a>
                            <div class="person media">
                              <img src="../../assets/img/user.svg" alt="">
                              <div class="media-body">
                                <div class="txt">
                                  <h3>{{ title }}</h3>
                                  <time>{{ timeago created_at }}</time>
                                </div>
                              </div>
                            </div>
                          </a>
                          <a href="{{ url }}" class="link_blog" target="_blank">
                            <h4 class="title_blog">
                              {{ title }}
                            </h4>
                          </a>
                          <p class="short_desc">
                            {{ description }}
                          </p>
                          <div class="grid_blog_avatar_button_action pt-3">
                            <a href="/verses/edit/{{ id_verse }}" class="btn btn-primary grid_blog_avatar_button_action_button option_button_action bg-pink-khuyay text-white">
                              Editar
                            </a>
                            <a href="/verses/delete/{{ id_verse }}" class="btn btn-danger grid_blog_avatar_button_action_button option_button_action bg-pink-khuyay text-white" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                              Eliminar
                            </a>
                            <a href="/verses/view/{{ id_verse }}" class="btn btn-success grid_blog_avatar_button_action_button option_button_action bg-pink-khuyay text-white" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                              Ver
                            </a>
                          </div>
                        </div>
                      </div>
                      <!-- End grid_blog_avatar -->
                    </div>
                  </div>
                  {{else}}
                  <!-- Start Simple Contact -->
                  <section class="simplecontact_section connect_us padding-py-7 w-100">
                    <div class="container">
                      <div class="row justify-content-md-center">
                        <div class="col-md-10 col-lg-5 text-center">
                          <div class="title_sections">
                            <h2>¿Aun no agregaste ningun verso?</h2>
                            <p>
                              Intenta dedicarle algo de amor a la persona que más amas.
                            </p>
                            <a href="/links/add" class="btn rounded-8 c-white btn_md_primary ripple scale bg-orange-red">
                              Agregar
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="circle-ripple">
                        <div class="ripple ripple-1"></div>
                        <div class="ripple ripple-2"></div>
                        <div class="ripple ripple-3"></div>
                      </div>
                    </div>
                  </section>
                  <!-- End Simple Contact -->
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          What follows is just some placeholder text for this modal dialog. Sipping on Rosé, Silver Lake sun, coming up all lazy.
          It’s in the palm of your hand now baby. So we hit the boulevard. So make a wish, I'll make it like your birthday
          everyday. Do you ever feel already buried deep six feet under? It's time to bring out the big balloons. You could've
          been the greatest. Passport stamps, she's cosmopolitan. Your kiss is cosmic, every move is magic.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End. blog_slider -->
</main>